html, body{
    overflow-x: hidden;
}

.header{
    height: 30vh;

}

#rsoStatusTitle{
    font-size: 60px;
    text-align: center;
    color: #fff;
}

.body{
    background-color: #fff;
    height: 80vh;
}

#studentInfo{
    text-align: center;
}

.return{
    position: absolute;
}
