html, body{
    font-family: "Jersey 10", sans-serif;
    background-color: #E4BC67 !important;
}

.links{
    flex-direction: column;
    gap: 20px;
}

a{
    color: #fff;
    font-size: 30px;
}

.return{
    max-width: fit-content;
    position: fixed;
    left: 30px;
}


.title-cont{
    background-color: #E4BC67;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

#title{
    color: #fff;
    font-size: 130px;
    font-weight: 400;
    text-align: center;
}

.img-cont{
   
}


#beeImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.returnToLogin{
    font-size: 30px;;
    width: 600px;
    position: fixed;
    top: 500px;

}

.returnLogin{
    position: fixed;
}



  