#profileTitle{
    color: #fff;
    font-size: 130px;
    text-align: center;
}

#profileName,#profileEnrollment{
    color: #fff;
    font-size: 60px;
    text-align: left;
    width: 60%;
    margin: auto;
}

#bottomSection{
    background-color: white !important;
}

#profileImg{
    width: 200px;
    height: auto;
    display: block;
    margin-right: 120px;
}

#eventTitle{
    color: black;
    font-size: 50px;
    text-align: center;
    width: 60%;
    margin: auto;
}

#eventDesc{
    color: black;
    font-size: 40px;
    text-align: center;
    width: 60%;
    margin: auto;
}